NET "PO_seg<0>" LOC = "L14"; # Bank = 1, Signal name = CA
NET "PO_seg<1>" LOC = "H12"; # Bank = 1, Signal name = CB
NET "PO_seg<2>" LOC = "N14"; # Bank = 1, Signal name = CC
NET "PO_seg<3>" LOC = "N11"; # Bank = 2, Signal name = CD
NET "PO_seg<4>" LOC = "P12"; # Bank = 2, Signal name = CE
NET "PO_seg<5>" LOC = "L13"; # Bank = 1, Signal name = CF
NET "PO_seg<6>" LOC = "M12"; # Bank = 1, Signal name = CG
NET "PO_seg<7>" LOC = "N13"; # Bank = 1, Signal name = DP

NET "PO_an<3>" LOC = "K14"; # Bank = 1, Signal name = AN3
NET "PO_an<2>" LOC = "M13"; # Bank = 1, Signal name = AN2
NET "PO_an<1>" LOC = "J12"; # Bank = 1, Signal name = AN1
NET "PO_an<0>" LOC = "F12"; # Bank = 1, Signal name = AN0

NET "clk" LOC = "B8";

NET "PI_a<3>" LOC ="N3";
NET "PI_a<2>" LOC ="E2";
NET "PI_a<1>" LOC ="F3";
NET "PI_a<0>" LOC ="G3";

NET "PI_b<3>" LOC ="B4";
NET "PI_b<2>" LOC ="K3";
NET "PI_b<1>" LOC ="L3";
NET "PI_b<0>" LOC ="P11";

NET "PI_sel<2>" LOC ="A7";
NET "PI_sel<1>" LOC ="M4";
NET "PI_sel<0>" LOC ="C11";
